@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700,800&display=swap');

body {
    background: url(../media/bg.jpg);
    background-position: 50% 15%;
    background-size: cover;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*----------Header--------*/

.logo {
    background: url(../media/logo.png);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 15vh;
    transition: all .5s ease-in-out;
    position: static;
}

/*----------Menu--------*/

.top-menu {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1a1a1b;
    min-height: 5vh;
}

.top-menu-music a {
    color: #0364a1;

}

.top-menu-news a {
    color: #a0040d;
}

.top-menu-tour a {
    color: #3a90a7;
}

.top-menu-merch a {
    color: #36b19c;
}

.top-menu:hover {
    background-color: #000000;
}

/*----------Menu Mobile--------*/

@media only screen and (max-width: 575px) {
    .top-menu-news a {
        color: #3a90a7;
    }
    .top-menu-tour a {
        color: #a0040d;
    }
}

/*----------Section--------*/

.new-album {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5vh 5vh auto 5vh;
    min-height: 45vh;
    border: 0;
}

.new-album-card {
    background-color: transparent;
    border: 0px;
}

.card-body {
    margin-top: 5vh;
}

.new-album-card-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}

.new-album-card-text h5 {
    font-size: 36px;
    margin-bottom: 3vh;
}

.btn-preorder {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #a0040d96;
    border-color: #a0040d;
    border-radius: 25px;
    margin-top: 3vh;
}

.btn-preorder:hover {
    background-color: #a0040d;
    border-color: #a0040d;
}

.single {
    margin-bottom: 5vh;
}

/*----------Footer--------*/

footer {
    position: relative;
    bottom: 0;
    background-color: #1a1a1b;
    color: #a0040d;
    min-height: 5vh;
}

.social-icons{
    padding-top: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #a0040d96;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #36b19c;
    color: #fff;
}