@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Oswald:200,300,400,500,600,700&display=swap');

body {
    background: url(../media/bg.jpg);
    background-position: 50% 15%;
    background-size: cover;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*----------Header--------*/

.logo {
    background: url(../media/logo.png);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 15vh;
    transition: all .5s ease-in-out;
    position: static;
}

/*----------Menu--------*/

.top-menu {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1a1a1b;
    min-height: 5vh;
}

.top-menu-music a {
    color: #0364a1;

}

.top-menu-news a {
    color: #a0040d;
}

.top-menu-tour a {
    color: #3a90a7;
}

.top-menu-merch a {
    color: #36b19c;
}

.top-menu:hover {
    background-color: #000000;
}

/*----------Section--------*/

.new-album {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 5vh 5vh auto 5vh;
    min-height: 45vh;
    border: 0;
}

.new-album-card {
    background-color: transparent;
    border: 0px;
}

.card-body {
    margin-top: 5vh;
}

.new-album-card-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}

.new-album-card-text h5 {
    font-size: 36px;
    margin-bottom: 3vh;
}

.btn-preorder {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #a0040d96;
    border-color: #a0040d;
    border-radius: 25px;
    margin-top: 3vh;
}

.btn-preorder:hover {
    background-color: #a0040d;
    border-color: #a0040d;
}

.single {
    margin-bottom: 5vh;
}

/*----------Footer--------*/

footer {
    position: relative;
    bottom: 0;
    background-color: #1a1a1b;
    color: #a0040d;
    min-height: 5vh;
}

.footer-contact {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 15px;
}

.footer-contact a i {
    padding-left: 1vh;
    color: #a0040d;
}

.mail-link {
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.mail-link:hover {
    color: #36b19c;
}

.social-icons {
    padding-top: 15px;
    text-align: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #a0040d96;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #36b19c;
    color: #fff;
}

/*----------Music--------*/

.music-container {
    margin: 5vh 5vh 5vh 5vh;
    padding: 5vh 5vh 5vh 5vh;
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 45vh;
    border-radius: 10px;
}

.music-container-text {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}

.heavy {
    font-weight: 700;
}

.music-cover {
    padding-top: 1vh;
    margin-top: 4vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    transition: background .5s ease-in-out;
}

.music-cover:hover {
    background: #a0040d96;
}

.music-cover img {
    border-radius: 10px;
    transition: filter .5s ease-in-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.music-cover img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

/*----------Merch--------*/

.merch-container {
    margin: 15vh 5vh 15vh 5vh;
    text-align: center;
}

.merch-container p {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.merch-row{
    margin-left: 5vh;
    margin-right: 5vh;
}

.merch-col {
    padding: 3vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.merch-col-tshirt {
    margin: 3vh;
    max-height: 150vh;
    max-width: 150vh;
}

.merch-col-tshirt img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.merch-col-cd {
    margin: 3vh;
}

.merch-col-sale {
    margin: 3vh;
}

/*----------Tour--------*/

/*--bg filter--*/

.tour-section {
    overflow: auto;
    position: relative;
    min-height: 100vh;
}

.tour-section:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-position: 50% 60%;
    z-index: -1;

    display: block;
    background-image: url('../media/band.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: grayscale(100%) brightness(20%);
    -moz-filter: grayscale(100%) brightness(20%);
    -o-filter: grayscale(100%) brightness(20%);
    -ms-filter: grayscale(100%) brightness(20%);
    filter: grayscale(100%) brightness(20%);
}

/*--bg filter end--*/

.tour-container {
    padding: 15vh;
}

.tour-text {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
    text-transform: uppercase;
}

.tour-dates {
    font-weight: 700;
    color: #a0040d;
}

.tour-location {
    margin-left: 5vh;
    font-weight: 300;
    color: #fff;
}

.tour-btn {
    margin-left: 5vh;
    border-radius: 10px;
    color: #36b19c;
    transition: all .35s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #36b19c59;
}

/*----------Responsive for Mobile--------*/

.tour-container-sm {
    padding: 5vh;

}

span {
    color: #36b19c;
}

.tour-list a {
    text-align: center;
    color: #fff;
    background: transparent;
    border: none;
}

.tour-list p {
    margin-top: 5vh;
}

.tour-text-sm {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #a0040d;
}

@media only screen and (max-width: 575px) {
    .top-menu-news a {
        color: #3a90a7;
    }
    .top-menu-tour a {
        color: #a0040d;
    }
}

@media only screen and (max-width: 575px) {
    .footer-contact {
        text-align: center;
    }
    .social-icons {
        text-align: center;
    }
}

@media only screen and (min-width: 575px) {
    .interview {
        padding-top: 8vh;
    }

}
