@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700,800&display=swap');

/*----------Header--------*/

.logo {
    background: url(../media/logo.png);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 15vh;
    transition: all .5s ease-in-out;
    position: static;
}

/*----------Menu--------*/
.top-menu {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1a1a1b;
    min-height: 5vh;
}

.top-menu-music a {
    color: #0364a1;
    
}

.top-menu-news a {
    color: #a0040d;
}

.top-menu-tour a {
    color: #3a90a7;
}

.top-menu-merch a {
    color: #36b19c;
}

.top-menu:hover {
    background-color: #000000;
}

/*----------Menu Mobile--------*/

@media only screen and (max-width: 575px) {
    .top-menu-news a {
        color: #3a90a7;
    }
    .top-menu-tour a {
        color: #a0040d;
    }
}

/*----------Footer--------*/

footer {
    background-color: #1a1a1b;
    color: #a0040d;
    min-height: 5vh;
}
